<html>
<script
   src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<div class="row">
<div class="col-md-12">
<table class="control_time_table">
    <tr>
<th> Control </th>
<th> </th>
<th> Open </th>
<th> </th>
<th> Close </th>
    </tr>

{% for item in distlist %}
      <tr class="display">
          <td class="km">{{item}}km</td>
          <td>|</td>
          <td class="open time"></td>
          <td>|</td>
          <td class="close close"></td>
      </tr>
{% endfor %}

</table>
</div> <!-- col -->
</div> <!-- row -->

<script type="text/javascript">
  $(document).ready(function(){
    timelist = "{{timelist}}";
    displayObj = $(".display");
    {% for item in timelist %}
      displayObj.each(function(i) {
        if ($(this).find(".open").text() === ""){
            $(this).find(".open").text("{{item.open}}");
            $(this).find(".close").text("{{item.close}}");
            return false;
          }
        else{
        }
      });
    {% endfor %}
  });


</script>
</html>
